<!DOCTYPE html>
<html>
  <head>
    <title>Kaos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
      <% end %>
    <script type="text/javascript">
      window.mainpageImage = "<%= image_url('backgroundTransparent.png') %>"
      window.formBG = "<%= image_url('formBG.png') %>"
      window.formSplash = "<%= image_url('formSplash.png') %>"
      window.discordLogo = "<%= image_url("discordLogoWhite.png") %>"
      window.iconGreen = "<%= image_url("discordIconGreen.png") %>"
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
